<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fesbuk</title>
    <link rel="icon" href="https://assets.gitlab-static.net/uploads/-/system/project/avatar/18034362/facebook-dating-1200x1200.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src=//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href="/vline">Fesbuk</a>
        <div class="custom-control custom-switch" id="switch">
            <input type="checkbox" class="custom-control-input" id="customSwitches">
            <label class="custom-control-label" for="customSwitches"></label>
        </div>
    </nav>
    <div class="container-fluid" style="margin-top: 10px">
        <div class="accordion" id="sortable">
            {% for item in items %}
            <div class="card bg-dark text-light">
                <div class="card-header" id="heading{{item.id}}">
                    <div class="row">
                        <div class="col-sm-8" id="button{{item.id}}" type="button" data-toggle="collapse" data-target="#collapse{{item.id}}" aria-expanded="false" aria-controls="collapse{{item.id}}">
                            <h2 class="mb-0">{{item.title}}</h2>
                        </div>
                        <div class="col-sm" style="display:flex; justify-content: flex-end;">
                            <button class="btn btn-success">Up</button>
                            <button class="btn btn-danger" style="margin-left: 10px;">Down</button>
                        </div>
                    </div>
                </div>
                
                <div id="collapse{{item.id}}" class="collapse" aria-labelledby="heading{{item.id}}">
                    <div class="card-body">
                        {{item.content}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">
        $("#sortable").sortable();
        $('.col-sm').children().click(function (e) {
            var $div = $(this).closest('.card');
            if (jQuery(e.target).is('.btn.btn-danger')) {
                $div.next('.card').after($div);
            } else {
                $div.prev('.card').before($div);
            }
        });
        $("#customSwitches").click(function (e) {
            var $body = $("body");
            if ($body.attr("class") == "bg-dark") {
                $body.attr("class", "bg-light");
                $("nav").attr("class", "navbar navbar-expand-lg navbar-dark bg-dark justify-content-between")
                $("#sortable").children().attr("class", "card bg-dark text-light")
            } else {
                $body.attr("class", "bg-dark");
                $("nav").attr("class", "navbar navbar-expand-lg navbar-light bg-light justify-content-between")
                $("#sortable").children().attr("class", "card bg-light text-dark")
            }
        });
    </script>
</body>
</html>