{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src=//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Books</title>
</head>
<body>
    <header class="d-flex flex-column flex-md-row align-items-md-center p-5 bg-light">
        <div class="pt-md-3 pb-md-4">
            <h1 class="bd-title mt-0">Books</h1>
            <p class="bd-lead">Find a book that suits your need!</p>
            <form class="form-inline" id="searchbar">
                <div class="form-group">
                <input type="search" class="form-control" id="search" placeholder="Mein Kampf" name="search" style="margin-right: 10px;">
                <button class="btn btn-primary" id="searchbtn">Search</button>
                </div>
            </form>
            <button class="btn btn-success">Top 5 Most liked book</button>
        </div>
    </header>
    <div class="container-fluid">
        
        <div class="row" id="result">
            
        </div>
    </div>
</body>
<script type="text/javascript" src="{% static 'scripts.js' %}"></script>
</html>