<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fesbuk</title>
    <link rel="icon" href="https://assets.gitlab-static.net/uploads/-/system/project/avatar/18034362/facebook-dating-1200x1200.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/vline">Fesbuk</a>
    </nav>
    <div class="container-fluid" style="margin-top: 10px">
        <form id="form" method="POST">
            {% csrf_token %}
            {{ schedule_form }}
            <label for="id_nama">Nama: </label>
            <input type="text" name="name" class="form-control" maxlength="40" id="id_nama" required>
            <label for="id_pesan">Pesan: </label>
            <input type="text" name="message" class="form-control" id="id_pesan" required>
            <label for="id_bgcolor">Warna: </label>
            <select id="id_bgcolor" name="bgcolor" class="form-control">
                <option value="R">Merah</option>
                <option value="G">Hijau</option>
                <option value="B">Biru</option>
                <option value="Y">Kuning</option>
            </select>
            <button type="submit" class="btn btn-primary" style="margin-top: 10px;" id="submit">Kirim</button>
        </form>
    </div>
</body>
</html>