<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fesbuk</title>
    <link rel="icon" href="https://assets.gitlab-static.net/uploads/-/system/project/avatar/18034362/facebook-dating-1200x1200.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/vline">Fesbuk</a>
    </nav>
    <div class="container-fluid" style="margin-top: 10px">
    {% for item in items %}
    {% if item.bgcolor == "R" %}
        <div class="card border-secondary bg-danger mb-3">
    {% elif item.bgcolor == "B" %}
        <div class="card border-secondary bg-primary mb-3">
    {% elif item.bgcolor == "G" %}
        <div class="card border-secondary bg-success mb-3">
    {% elif item.bgcolor == "Y" %}
        <div class="card border-secondary bg-warning mb-3">
    {% else %}
        <div class="card border-secondary mb-3">
    {% endif %}
            <div class="card-header">{{item.name}} said</div>
            <div class="card-body text-secondary">
                <p class="card-text">"{{item.message}}"</p>
            </div>
            <form id="form" method="POST">
                {% csrf_token %}
                <input type = "hidden" name="objectid" value="{{item.id}}">
                <button type="submit" class="btn btn-danger" style="margin: 10px; padding:10px;" id="red" name="bgcolor" value="R"></button>
                <button type="submit" class="btn btn-success" style="margin: 10px; padding:10px;" id="green" name="bgcolor" value="G"></button>
                <button type="submit" class="btn btn-primary" style="margin: 10px; padding:10px;" id="blue" name="bgcolor" value="B"></button>
                <button type="submit" class="btn btn-warning" style="margin: 10px; padding:10px;" id="yellow" name="bgcolor" value="Y"></button>
                <button type="submit" class="btn btn-secondary" style="margin-left:10px;height: 23px; font-size:10px;" id="submit" name="bgcolor" value="Random">Random</button>
            </form>
        </div>
    {% endfor %}
    <a href="addmessage">
        <button type="button" class="btn btn-outline-secondary" style="width: 100%; margin-bottom:10px">Saya mau kirim pesan</button>
    </a>
    </div>
</body>
</html>